.test {
	margin: 20px;

	div {
		margin: 20px 0;
	}

	span {
		display: block;
	}

	.text-orange {
		color: orange;
	}

	.text-underline {
		text-decoration: underline;
	}

	.text-padding {
		padding-left: 5px;
	}
}
